@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: rgba(0, 0, 0, .7)
}

header{
    font-family: 'Pacifico', cursive;
    background: pink;
    color: white;
    padding: 8px 20px;
}
